<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>Details</title>
  </head>
  <body class="bg-blue-100">
    <nav class="flex justify-between items-center m-4 p-2">
      <h1 class="font-bold text-5xl">AccountKitaab</h1>
      <div class="flex justify-between m-4 p-2 gap-4">
        <a href="/">Home</a>
        <a href="/create">Create New Hisab</a>
      </div>
    </nav>

    <div id="content" class="m-4 p-2">
      <h2 class="text-2xl font-semibold">All Hisab kitaab</h2>
      <ul>
        <% file.forEach((filename)=>{ %>
        <li
          class="w-80 flex justify-between rounded-lg flex gap-2 mt-4 px-5 py-4 bg-blue-400"
        >
          <a href="/view/<%= filename%>" class="font-semibold">
            <%= filename%> <i class="ri-arrow-right-circle-fill ri-xl"></i>
          </a>
          <div>
            <a href="/edit/<%= filename%>">
              <i class="ri-file-edit-fill ri-lg"></i
            ></a>
            <a href="/delete/<%= filename%>"
              ><i class="ri-delete-bin-fill ri-xl"></i
            ></a>
          </div>
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
